<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <title>Members You Met</title>
</head>
<body>
    <%- include('partials/header') %>
    <h1>Members You Met</h1>
    <ul>
        <% users.forEach(user => { %>
            <li>
                <img src="<%= user.profilePicture %>" alt="User's Profile Picture" width="150">
                Username: <%= user.username %>
                <!-- You can add more user details here if you wish. -->
            </li>
        <% }) %>
    </ul>
</body>
</html>
