<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>All Users</title>
</head>
<body>
    <h1>All Users</h1>
    <ul>
        <% users.forEach(user => { %>
            <% if(user._id !== currentUser._id) { %>
                <li>
                    Username: <%= user.username %>
                    <!-- Check if the user has been met -->
                    <% if (currentUser.metUsers && currentUser.metUsers.includes(user._id)) { %>
                        <span>Met</span>
                    <% } else { %>
                        <form action="/connections/markMet" method="post">
                            <input type="hidden" name="userId" value="<%= user._id %>">
                            <button type="submit">Mark as Met</button>
                        </form>
                    <% } %>
                </li>
            <% } %>
        <% }); %>
    </ul>
</body>
</html>
