body {
  font-family: "Arial", sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f5f5f5;
}
.navbar {
  background-color: #b3c96b;
  padding: 10px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
.navbar img {
  height: 50px;
}
.navbar h1 {
  color: #ffffff;
  margin: 0;
  font-size: 24px;
}
.navbar a {
  text-decoration: none;
  color: #ffffff;
  margin: 0 10px;
  padding: 5px 10px;
  transition: color 0.3s;
}
.navbar a:hover {
  color: #f0f0f0;
}
.logo {
  display: flex;
  align-items: center;
}

.navbar.logged-out {
  background-color: #b3c96b;
  padding: 10px 20px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.menu {
  position: relative;
}

.menu-toggle {
  background-color: transparent;
  border: none;
  font-size: 38px;
  color: #ffffff;
  cursor: pointer;
}

.dropdown-menu {
  display: none;
  position: absolute;
  top: 40px;
  right: 0;
  background-color: #ccd5ae;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  z-index: 1000;
}

.dropdown-menu a {
  display: block;
  padding: 10px 20px;

  color: #ffffff;
  text-decoration: none;
}

.dropdown-menu a:hover {
  background-color: rgba(255, 255, 255, 0.1);
}
