body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f5f5f5;
}
.navbar {
    background-color: #CCD5AE;
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
.navbar img {
    height: 50px;
}
.navbar h1 {
    color: #ffffff;
    margin: 0;
    font-size: 24px;
}
.navbar a {
    text-decoration: none;
    color: #ffffff;
    margin: 0 10px;
    padding: 5px 10px;
    transition: color 0.3s;
}
.navbar a:hover {
    color: #f0f0f0;
}
.logo {
    display: flex;
    align-items: center;
}

.navbar.logged-out{
    background-color: #CCD5AE;
    padding: 10px 20px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
  
    
  
