.main-section {
  text-align: center;
  margin: 50px;
}
.percentage-circle {
  width: 200px;
  height: 200px;
  border: 10px solid #ccd5ae;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px auto;
  font-size: 36px;
  color: #ccd5ae;
  background-color: #ffffff;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
.cta-buttons {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 20px;
}
.cta-button,
.cta-button:hover {
  padding: 15px 30px;
  background-color: #ccd5ae;
  color: #fff;
  text-decoration: none;
  margin: 10px;
  border-radius: 25px;
  font-weight: bold;
  transition: background-color 0.3s;
}
.cta-button:hover {
  background-color: #b3c96b;
}

.percentage-circle-container {
  position: relative;
  width: 210px;
  height: 210px;
  margin: 20px auto;
}

.percentage-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 36px;
  color: #ccd5ae;
}

.progress-ring__circle {
  transition: stroke-dashoffset 0.35s;
  transform: rotate(-90deg);
  transform-origin: 50% 50%;
}
