.main-section {
  text-align: center;
  margin: 50px;
}
.percentage-circle-container {
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px auto;
  font-size: 36px;
  color: #ccd5ae;
  background-color: rgba(255, 255, 255, 1);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  position: relative;
  width: 210px;
  height: 210px;
}
.cta-buttons {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 20px;
}
.cta-button,
.cta-button:hover {
  background-color: #b3c96b;
  padding: 15px 30px;
  color: #fff;
  text-decoration: none;
  margin: 10px;
  border-radius: 25px;
  font-weight: bold;
  transition: background-color 0.3s;
}
.cta-button:hover {
  background-color: #a7cb30;
}



.percentage-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 36px;
  color: #ccd5ae;
}

.progress-ring__circle {
  transition: stroke-dashoffset 0.35s;
  transform: rotate(-90deg);
  transform-origin: 50% 50%;
  
}

.members-met {
  background-color: #B7C48C; /* A soft gray background */
  border-radius: 8px; /* Rounded corners */
  padding: 20px; /* Spacing inside the container */
  margin-top: 20px; /* Space above the container */
  font-size: 1.2em; /* Slightly larger text */
  text-align: center; /* Centered text */
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1); /* Slight shadow for depth */
  max-width: 300px; /* Limit the width */
  margin-left: auto; /* Center align */
  margin-right: auto; /* Center align */
}

.members-met p {
  margin: 0; /* Remove default margin from the paragraph for better control */
  color: #fff ;
  font-weight: bold
  ; /* Dark gray text color */
}
