/* Main content styles */
.main-section {
  text-align: center;
  margin: 50px;
}

/* Percentage circle styles */
.percentage-circle-container {
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px auto;
  font-size: 36px;
  color: #ccd5ae;
  background-color: rgba(255, 255, 255, 1);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  position: relative;
  width: 210px;
  height: 210px;
}

.percentage-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 48px;
  color: #b3c96b;
  font-weight: 800;
}

.progress-ring__circle {
  transition: stroke-dashoffset 0.35s;
  transform: rotate(-90deg);
  transform-origin: 50% 50%;
}

/* Call to action buttons styles */
.cta-buttons {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 20px;
}

.cta-button,
.cta-button:hover {
  background-color: #b3c96b;
  padding: 15px 30px;
  color: #fff;
  text-decoration: none;
  margin: 10px;
  border-radius: 25px;
  font-weight: bold;
  transition: background-color 0.3s;
}

.cta-button:hover {
  background-color: #a7cb30;
}

/* Members met section styles */
.members-met {
  background-color: #b7c48c;
  border-radius: 8px;
  padding: 20px;
  margin-top: 20px;
  font-size: 1.2em;
  text-align: center;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
  max-width: 300px;
  margin-left: auto;
  margin-right: auto;
}

.members-met p {
  margin: 0;
  color: #fff;
  font-weight: bold;
}

/* Statistic section styles */
.statistic {
  background-color: rgba(255, 255, 255, 0.95);
  border-radius: 8px;
  padding: 15px;
  margin: 20px auto;
  font-size: 1.2em;
  text-align: center;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
  max-width: 500px;
  position: relative;
}

.statistic p {
  margin: 0;
  color: #555;
}

.statistic p strong {
  color: #474140;
  font-weight: bold;
  line-height: 2;
}
