/* Container for user cards */
.cards {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  justify-content: center;
  margin: 25px 0;
}

/* Individual user card styles */
.user-card {
  background-color: #ffffff;
  border: 1px solid #e0e0e0;
  border-radius: 10px;
  padding: 10px 25px;
  width: 200px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s;
}

.user-card:hover {
  transform: translateY(-3px);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

/* Profile picture styles */
.profile-pic {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  display: block;
  margin: 0 auto;
}

/* User name and username styles */
.name, .username {
  text-align: center;
  margin: 1rem 0;
}

.username {
  font-size: 14px;
  font-weight: 800;
}

/* Container for user name */
.name-section {
  min-height: 100px;
}

/* Similarity score styles */
.similarity-score {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

meter {
  width: 100%;
  height: 50px;
  border-radius: 7.5px;
}

meter::-webkit-meter-bar {
  background: #f5f5f5;
  border-radius: 7.5px;
}

meter::-webkit-meter-optimum-value {
  background: #b3c96b;
}

/* Language flags styles */
.language-flags {
  display: flex;
  gap: 5px;
}

.language-flag {
  font-size: 35px;
}

/* Details section styles */
.detail-count {
  cursor: pointer;
  text-decoration: underline;
}

.detail-list {
  display: none;
  background-color: #f8f8f8;
  border-radius: 5px;
  padding: 10px;
  margin-top: 5px;
  border: 1px solid #e0e0e0;
}

.expanded .detail-list {
  display: block;
}

.detail-section {
  margin: 1rem 0;
  color: #777;
}

/* Explanation for similarity score */
.similarity-explanation {
  background-color: rgba(255, 255, 255, 0.8);
  border-radius: 15px;
  padding: 10px 20px;
  margin: 10px auto;
  max-width: 40%;
  text-align: center;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
}

.similarity-explanation h2 {
  color: #333;
  font-size: 20px;
  margin-top: 0;
}

.similarity-explanation p {
  color: #666;
}

/* Profile button link styles */
.view-profile{
display:flex;

}
.profile-button {
  width:100%;
  text-align: center;
  margin: 10px;
}