.cards {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  justify-content: center;
  margin: 25px 0; /* Add top and bottom margin to cards container */
}

.user-card {
  border: 1px solid #e0e0e0;
  border-radius: 10px;
  padding: 1rem;
  width: 200px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  background-color: #ffffff;
  margin: 20px;  /* Remove the margin */
  padding: 10px 25px;
  transition: transform 0.3s; /* Smooth animation for hover effect */
}

.user-card:hover {
  transform: translateY(-3px);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.profile-pic {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.name {
  text-align: center;
  margin: 1rem 0;
}

.username {
  font-size: 14px;
  font-weight:800;
  text-align: center;
}

.name-section {
  min-height: 100px;
}
.similarity-score {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

meter {
  width: 100%;
  height: 15px;
  border-radius: 7.5px;
}

meter::-webkit-meter-bar {
  background: #f5f5f5;
  border-radius: 7.5px;
}

meter::-webkit-meter-optimum-value {
  background: #b3c96b;
}



.language-flags {
  display: flex;
  gap: 5px;
}

.language-flag {
 font-size: 35px;
}

.detail-count {
  cursor: pointer;
  text-decoration: underline;
}

.detail-list {
  display: none;
  background-color: #f8f8f8; /* light grey background */
  border-radius: 5px;
  padding: 10px;
  margin-top: 5px; /* A little spacing from the title */
  border: 1px solid #e0e0e0; /* A subtle border */
}

.expanded .detail-list {
  display: block;
}

.detail-section {
  margin: 1rem 0; /* Add some spacing between detail sections */
  color: #777;
}

h1 {
  text-align: center;
  color: #fff;
  margin: 40px 0;
}

.profile-button {
  display: block;
  padding: 10px 20px;
  margin-top: 10px;
  text-align: center;
  color: #FFF;
  text-decoration: none;
  border-radius: 4px;
  transition: background-color 0.3s ease;
}
  .profile-button:hover {
      background-color: #b3c96b;
  
}
