body {
  font-family: 'Open Sans', sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f5f5f5;
}

p, h1, h2, h3, .button {
  font-family: 'Roboto', sans-serif;
}
.login-container {
  width: 300px;
  margin: 50px auto;
  padding: 30px;
  border: 1px solid #ddd;
  background-color: #ffffff;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  text-align: center;
}

.alert.alert-success {
  color: #155724;
  background-color: #d4edda;
  border-color: #c3e6cb;
  padding: 10px;
  margin: 10px 0;
}

.error-message {
  color: #721c24;
  background-color: #f8d7da;
  border-color: #f5c6cb;
  margin: 10px 0;
}

.form-group {
  margin: 10px;
}

label {
  display: block;
  margin-bottom: 5px;
}

input[type="text"],
input[type="password"] {
  width: 100%;
  border: 1px solid #ccc;
  border-radius: 5px;
  line-height: 3;
}

button[type="submit"],
.button:hover {
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  color: #ffffff;
  cursor: pointer;
  background-color: #ccd5ae;
  transition: background-color 0.3s;
}

button[type="submit"]:hover,
.button:hover {
  background-color: #b3c96b;
}

a {
  text-decoration: none;
  color: #ccd5ae;
}

a:hover {
  text-decoration: underline;
}

body {
  font-family: "Arial", sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f5f5f5;
}
h1 {
  text-align: center;
  color: #333;
  margin: 40px 0;
}
ul {
  list-style: none;
  padding: 20px;
  max-width: 600px;
  margin: 0 auto;
}
li {
  border: 1px solid #ddd;
  padding: 15px;
  margin: 10px 0;
  background-color: #ffffff;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 5px;
}
img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin-right: 15px;
}
.userInfo {
  display: flex;
  align-items: center;
}
.username {
  color: #444;
}
.name {
  margin-left: 5px;
}
button,
.button {
  padding: 7px 15px;
  border: none;
  border-radius: 5px;
  color: #ffffff;
  cursor: pointer;
  transition: transform 0.3s;
}
button[type="submit"],
.button {
  background-color: #ccd5ae;
}
button[type="submit"]:hover,
.button:hover {
  background-color: #b3c96b;
  transform: scale(1.05);
}

.with-background {
  background-image: url("/bg.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  height: 100vh;
  position: relative; /* Ensure this is relative for absolute positioning of the :after content */
}

.with-background:after {
  content: "Photo by Hannah Busing on Unsplash";
  font-size: x-small;
  position: fixed;
  color: rgba(255, 255, 255, 0.6);
  padding:10px;
  bottom:0;
}

.content-with-background {
  background-color: rgba(255, 255, 255, 0.9);
  /*backface-visibility: hidden; /* Ensures the child elements aren't blurred */
  /*filter: none; */
}
