<link rel="stylesheet" href="/css/header.css" />
<link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600&family=Roboto:wght@400;500&display=swap" rel="stylesheet"> 
<header>
  <nav class="navbar">
    <a href="/">
      <div class="logo">
        <img src="/icon.png" alt="CauseConnect Logo" />
        <h1>CauseConnect</h1>
      </div>
    </a>
    <div>
      <a href="/user/preferences">Profile & Preferences</a>
      <a href="/logout">Logout</a>
    </div>
  </nav>
</header>
