<link rel="stylesheet" href="css/header.css" />
<header>
  <nav class="navbar logged-out">
    <div class="logo">
      <img src="/icon.png" alt="CauseConnect Logo" />
      <h1>CauseConnect</h1>
    </div>
  </nav>
</header>
