<link rel="stylesheet" href="/css/header.css" />
<header>
  <nav class="navbar">
    <a href="/">
      <div class="logo">
        <img src="/icon.png" alt="CauseConnect Logo" />
        <h1>CauseConnect</h1>
      </div>
    </a>
    <div>
      <a href="/user/preferences">Profile & Preferences</a>
      <a href="/logout">Logout</a>
    </div>
  </nav>
</header>
